.input-form {
    background: #00b8ff;
    margin: 0 auto;
    padding-bottom: 15px;
}

.form-button {
    background: #0b99b8;
}

.sign-up {
    padding-bottom: 15px;
}

.sign-in {
    padding-bottom: 25px;
}